body * {
  box-sizing: content-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: black;
}

.product-element {
  border: 1px solid black;
  margin: 10px;
}

.product-element:hover {
  background: lightgray;
  color: white;
}

.product-element-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-image-section {
  display: inline-block;
  background: black;
  width: 200px;
  height: 200px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-element-full {
  margin: 10px;
}

.product-image-section-full {
  display: inline-block;
  background: black;
  width: 800px;
  height: 600px;
}
