.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: black;
}

.product-element {
  margin: 10px auto 10px auto;
  border-top: 1px solid black;
  height: 200px;
}

.product-display {
  width: 200px;
}

.product-info {
  position: relative;
}

.product-name {
  position: absolute;
  top: 0px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.product-price {
  position: absolute;
  bottom: 0px;
  text-align: center;
  clear: both;
  width: 100%;
}

.product-price button {
  height: 30px;
}

.product-description {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-image-section {
  background: black;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-element-full {
  text-align: center;
  margin: 10px;
}

.product-image-section-full {
  display: inline-block;
  background: black;
  width: 800px;
  height: 600px;
}

.category-list {
  padding: 0px;
}

.category-list-item {
  list-style-type: none;
  border-bottom: 1px solid black;
}

.category-list-item a {
  text-decoration: none;
}

.category-list-item:hover {
  background: gray;
  color: white;
}

.category-list-item:hover a {
  background: gray;
  color: white;
}

.cart-product {
  list-style-type: none;
}

.header-bar {
  background: gray;
  color: white;
  padding: 5px;
}

.header-bar a {
  color: white;
  text-decoration: none;
}

.header-bar a:hover {
  color: yellow;
}

.product-image-full {
  width: 800px;
  height: 600px;
  object-fit: contain;
}