.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: black;
}

.product-element {
  width: 90%;
  height: 400px;
  margin: 10px auto 10px auto;
  border-top: 1px solid black;
}

.product-info {
  display: table;
}

.product-info > * {
  display: table-row;
}

.product-price button {
  height: 30px;
}

.product-name {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.product-description {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 340px;
}

.product-price {
  text-align: center;
  height: 30px;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product-element-full {
  margin: 10px;
}

.product-image-section-full {
  display: inline-block;
  background: black;
  width: 800px;
  height: 600px;
}

.category-list {
  padding: 0px;
}

.category-list-item {
  list-style-type: none;
}